body {
    margin: 0;
    padding: 0;
    width: 1152px;
    /*height: 2041px;*/
    background: white;
    border: 1px solid green;
}
/*Personal Info*/
.personal-info-container{
    height: 595px;
    /*background:green;*/
}
/*Nav Bar*/
.nav-bar-container {
   
    /*width: 100%;*/
    margin: 0 60px;
    /*background:blue;*/
    margin-top: 25px;
    
}
.nav-bar-grid-container{
    
    list-style: none; /* Remove default bullets */
    padding-top: 25px   ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;      
}  
.nav-bar-grid-container li:nth-child(1) {
    text-align: center;
    grid-column: 10; /* Place the first link in column 10 */
  }
  .nav-bar-grid-container li:nth-child(2) {
    text-align: center;
    grid-column: 11; /* Place the second link in column 11 */
  }
  .nav-bar-grid-container li:nth-child(3) {
    text-align: center;
    grid-column: 12; /* Place the third link in column 12 */
  }
  .nav-bar-grid-container a{
    text-decoration: none;
    font-family: 'Heebo';
    font-weight: medium;
    font-size: 20px;
    color: black;
  }
  /*Text-Info*/
  .Info-Container{
    margin: 0 60px;
    margin-top: 185px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;  
    /*background: brown;*/
  }
  .personal-info-container-text{
    grid-column: 2/8;
    /*background: purple;*/
    display: grid; /* Use CSS Grid */
    grid-template-rows: auto; /* Define rows dynamically */
    /*border: 2px solid #333;*/ /* Add border for the container */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    position: relative;
    
  }
  .personal-info-container-text h1{
    font-family: 'Heebo';
    font-style: bold;
    font-size: 44px;
    margin: 0;
    margin-bottom:2px;
    padding: 0;  
    align-self: start;
    
  } 
  .personal-info-container-text h1::first-line {
    line-height: 1; /* Decrease line-height of the first line */
  }
  
  h1 {
    line-height: 1.5; /* Default line-height for the rest of the text */
  }
  .personal-info-container-text p{
    font-family: 'Heebo';
    font-style: normal;
    font-size: 16px;
    margin-bottom: 35px;
  }
  /*Button*/

    .button-link {
        display: inline-block; /* Allows setting width and height */
        width: 208px; /* Set width */
        height: 47px; /* Set height */
        line-height: 47px; /* Vertically center text */
        text-align: center; /* Horizontally center text */
        text-decoration: none; /* Remove underline */
        color: white; /* Button text color */
        background-color: #FF4646; /* Button background color */
        font-family: 'Heebo';
        font-weight: medium;
        font-size: 20px; /* Adjust font size */
        transition: background-color 0.3s; /* Smooth hover effect */
      }
      
    .button-link:hover {
        background-color: #0056b3; /* Darker color on hover */
      }
    .personal-info-container-image{
        grid-column: 9/11;
    }  
    /*Post-Container*/
    .Post-Container{
        height: 395px;
        background-color: #edf7fa;
    }    
    .top-work-info-container{
        margin: 0 60px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        /*background: brown;*/
        font-family: 'Heebo';
    }
    .top-work-info-container p{
        grid-column: 2/4;
        font-size: 22px;
    }
    .top-work-info-container a{
        grid-column: 11/12;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #00A8CC;
    }
    .work-content-container{
        margin: 0 60px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        /*background: rgb(222, 135, 218);*/
        font-family: 'Heebo';
    }
    .left-content-container{
        grid-column: 2/7;
        /*background: lightgreen;*/
        display: flex;
        justify-content: center;
    }
    .content-wrapper{
        width: 380px;
        height: 100%;
        display: flex;
        flex-direction: column;
        /*background: yellow;*/
    }
    .content-title{
      font-family:'Heebo';
      font-size: 26px;
      font-style: bold;
    }
    .sub-title-container{
      grid-column: 2/7;
      /*background-color: blueviolet;*/
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 35px;
    }
    .vertical-line{
      width: 1px;
      height: 20px;
      background-color: black;
    }
    .text-content{
      font-family:'Heebo';
      font-size: 16px;
      width: 370px;
    }
    .right-content-container{
        grid-column: 7/12;
        /*background: rgb(20, 196, 20);*/
        display: flex;
        justify-content: center;
    }
    /*Work Container*/
    .Work-container{
        height: 800px;
        /*background:#00A8CC;*/
    }
    .Topwork-container{
        margin: 0 60px;
        /*background: brown;*/
        font-family: 'Heebo';
        font-size: 22px;
        color:#21243D;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        padding:0;
    }
    .Topwork{
        grid-column: 2/4;
        margin: 0;
        padding: 0;
    }
    .Topwork p{
      margin-bottom: 0;
    }
    .work-item-container{
        margin: 0 60px;
        margin-top: 30px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
       /* background: rgb(222, 135, 218);*/
        font-family: 'Heebo';
    }
    .work-item-image-container{
        grid-column: 2/5;
        /*background:#83abd6;*/
        height: 180px;
    }
    .work-item-text-container{
        grid-column: 5 / span 7;
        height: 180px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column: repeat(auto-fill,auto);
        margin:0;
        /*background:#1b7fea;*/
    }
    .work-item-title{
        grid-column: 1/6;
        font-family: 'Heebo';
        font-size: 30px;
        margin: 0;
    }
    .date-work-container{
        grid-column: 1/ span 6;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;
        margin-top: 20px;
        
    }
    .work-date{
        margin: 0;
        grid-column: 1/2;
        font-family: 'Heebo';
        background: black;
        color: white;
        width: 60px;
        border-radius: 15px;
        box-sizing: border-box;
        text-align: center;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .work-title{
      margin: 0;
      grid-column: 2/4;
      font-family: 'Heebo';
      font-size: 18px;
      
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    .work-content{
        grid-column: 1/8;
        grid-row: 3/4;
        font-family: 'Heebo';
        font-size: 16px;
        margin-top: 20px;
    }
    .Work-Horizontal-line{
      grid-column: 2/12;
      height: 1px;
      width: 100%;
      background-color:#E0E0E0;
      /*margin-bottom: 30px;*/
      padding: 0;
    }
    /*Footer*/
    .Footer-section{
        width:1152px;
        height: 265px;
        display: flex;
        align-items: flex-end;
        /*background-color: aquamarine;*/
    }
    .Footer-container{
        width: 1152px;
        height: 180px;
        /*background-color: #00A8CC;*/
        text-align: center  ;
    }
    .icon-container {
      
        margin: 0 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*grid-template-columns: repeat(12, 1fr);*/
        gap: 35px;
       /* background: rgb(222, 135, 218);*/
        font-family: 'Heebo';
   }
   .text-footer{
    font-family: 'Heebo';
    font-size: 14px;
    color: #21243D;
    margin-top: 25px;
   }