body {
    margin: 0;
    padding: 0;
    width: 1152px;
    height: 2041px;
}
/*Nav Bar*/
.nav-bar-container {
    height: 100px;
    margin: 0 60px;
    background:green;
   /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;*/
    
}
.nav-bar-grid-container{
    
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;      
}  
.nav-bar-grid-container li:nth-child(1) {
    text-align: center;
    grid-column: 10; /* Place the first link in column 10 */
  }
  .nav-bar-grid-container li:nth-child(2) {
    text-align: center;
    grid-column: 11; /* Place the second link in column 11 */
  }
  .nav-bar-grid-container li:nth-child(3) {
    text-align: center;
    grid-column: 12; /* Place the third link in column 12 */
  }
  .nav-bar-grid-container a{
    text-decoration: none;
    font-family: 'Heebo';
    font-weight: medium;
    font-size: 20px;
    color: black;
  }